/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ADEFD1FF;
    background-image: url('img/'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Header styles */
header {
    background-color: #00203FFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #2b6dff;
    text-align: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Content styles */
.content {
    text-align: center;
    margin-top: 30px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

/* Feature section styles */
.feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.image-container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 3px solid black;
}

.image-container h2 {
    margin-bottom: 10px;
}

.image-container p {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

.image-container a {
    color: #2b6dff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}